.hw1{
	background-color: red;
	/*width: 300px;*/
	border: 3px;
	height: 50px;
}
.hw2{
	color: white;
	background-color:yellow;
	/*width: 300px;*/
	border: 3px;
}
.hw3{
	color: white;
	background-color:#73BF00;
	/*width: 300px;*/
	border: 3px;
	height: 70px;
}
.hw4{
	color: white;
	background-color:#FFFFAA;
	/*width: 300px;*/
	border: 3px;
	height: 110px;
}
.hw5{
	color: white;
	background-color:#FFDC35;
	/*width: 300px;*/
	border: 3px;
}
.hw6{
	color: white;
	background-color:#02F78E;
	/*width: 300px;*/
	border: 3px;
}
.hw7{
	color: white;
	background-color:#008800;
	/*width: 300px;*/
	border: 3px;
}

		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
